{% extends 'layouts/base.html' %}

{% block title %} Graphs {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  canvas {
    border: 1px solid #ccc;
    background-color: #f0f0f0; /* Set the background color of the canvas */
  }
</style>
{% endblock stylesheets %}

{% block content %}

  <div class="min-height-300 bg-primary position-absolute w-100"></div>

  {% include "includes/sidenav.html" %}

  <main class="main-content position-relative border-radius-lg ">

    {% include "includes/navigation.html" %}

    <div class="container mt-5"></div>
      <div class="row">
        <div class="col-md-6 mx-auto">
          <canvas id="chart" width="800" height="600"></canvas>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </main> 

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
<script>
  // Create a chart object
  var chart = new Chart('chart', {
    type: 'line',
    data: {
      labels: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30'],
      datasets: [{
        label: 'Sales',
        data: [10, 15, 10, 12, 16, 8, 14, 25, 20, 15, 18, 22, 19, 24, 28, 30, 25, 22, 20, 18, 16, 14, 12, 10, 15, 20, 25, 30, 25, 20],
        borderColor: 'blue',
        fill: false,
        cubicInterpolationMode: 'monotone' // Set the cubic interpolation mode to 'monotone'
      }]
    },
    options: {
      responsive: true,
      interaction: {
        mode: 'nearest',
        intersect: false
      },
      plugins: {
        tooltip: {
          mode: 'index',
          intersect: false
        }
      }
    }
  });
</script>
{% endblock javascripts %}