{% extends 'layouts/base.html' %}

{% block title %} Billing {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="min-height-300 bg-primary position-absolute w-100"></div>

  {% include "includes/sidenav.html" %}

  <main class="main-content position-relative border-radius-lg ">

    {% include "includes/navigation.html" %}

    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">My Card Title</h5>
            </div>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, urna eu bibendum bibendum, elit sapien aliquet elit, vel bibendum sapien sapien vel elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </main> 

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}









