{% extends 'layouts/base.html' %}

{% block title %} Billing {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="min-height-300 bg-primary position-absolute w-100"></div>

  {% include "includes/sidenav.html" %}

  <main class="main-content position-relative border-radius-lg ">

    {% include "includes/navigation.html" %}


    <div class="container mt-5">
      <h1>Interactive 3D Graph</h1>
      <!-- Bootstrap container for the graph -->
      <div class="jumbotron">
          <div id="plotly-3d-graph"></div>
      </div>
     </div>
  <!-- Use JavaScript to render the 3D graph -->
     <script>
        var data = {{ data | safe }};
        var layout = {{ layout | safe }};
        Plotly.newPlot('plotly-3d-graph', data, layout);
      </script>

    <div class="container-fluid py-4">

      {% include "includes/footer.html" %}

    </div>

  </main> 

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}









