{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %} Streamlit {% endblock stylesheets %}

{% block content %}

  <div class="min-height-300 bg-primary position-absolute w-100"></div>
    <div class="container">
      {% include "includes/sidenav.html" %}

      <main class="main-content position-relative border-radius-lg ">

      <!-- Embed Streamlit app in an iframe -->
      <div style="background-color: #f5f5f5; padding: 20px; border: 1px solid #ddd;">
          <iframe src="http://localhost:8501" width="800" height="600" frameborder="0"></iframe>
      </div>
      
      </main>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}


